@model pawpals.Models.DTOs.MemberDTO

@{
    ViewData["Title"] = "Edit Member";
}

<h2>Edit Member</h2>

<form asp-action="Edit" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="MemberId" />
    </div>
    <div class="form-group">
        <label asp-for="MemberName" class="control-label"></label>
        <input asp-for="MemberName" required class="form-control" />
        <span asp-validation-for="MemberName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" type="email" required class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio" class="control-label"></label>
        <input asp-for="Bio" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" required class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
    
</form>


